<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uwm.wundergrads.diabetesselfmanagement_wundergrads">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputQuery"
            android:label="@string/title_activity_input_query"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uwm.wundergrads.diabetesselfmanagement_wundergrads.MainActivity" />
        </activity>
        <activity
            android:name=".GraphTableStats"
            android:label="@string/title_activity_input_query"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uwm.wundergrads.diabetesselfmanagement_wundergrads.InputQuery" />
        </activity>
        <activity
            android:name=".RegimenActivity"
            android:label="@string/title_activity_regimen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uwm.wundergrads.diabetesselfmanagement_wundergrads.MainActivity" />
        </activity>
    </application>

</manifest>